.background{
  z-index:-1000;
  width:100%;
  height:100vh;
  object-fit: fill;
  position:fixed;
  filter: brightness(0.2);
}

.resultdiv{
  text-align: center;
  padding:3% 15%;
}
.resulttext{
  color:white;
  font-size: 4rem;
  font-weight: bolder;
}
.playername{
  color:white;
  font-size: 2rem;
}
.dice{
  display:inline-block;
  padding:30px;
}
.img1{
  height:100px;
  width:100px;
}
.img2{
  height:100px;
  width:100px;
}
.replaybutton{
  background-image: linear-gradient(90deg, #0d0d0d,#171717,#0d0d0d);

}
.replaytext{
   font-size: 2rem;
   color:white;
}
